<div class="sticky">
    <header class="navbar">
        <section class="navbar-section">
            <a href="/" class="navbar-brand text-dark m-2">Nicolá M. H. Riedmann</a>
        </section>
        <section class="navbar-section">
            <a href="mailto:nicola.riedmann@live.de" class="btn btn-link m-1 tooltip" data-tooltip="Email me at nicola.riedmann@live.de">
                <i class="icon icon-mail"></i>
            </a>
            <a href="https://github.com/UnseenWizzard" class="btn btn-link m-1 tooltip" data-tooltip="UnseenWizzard on Github" target="new">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/nicola-michel-henry-riedmann/" class="btn btn-link m-1 tooltip" data-tooltip="My linkedin profile" target="new">
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="/data/cv_nriedmann.pdf" class="btn btn-link m-1 tooltip" data-tooltip="Download my CV" target="new">
                <i class="icon-people"></i>
            </a>
        </section>
    </header>
    <div class="divider"> </div>
</div>