    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fas fa-code"></i>  {{ site.title }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% assign sorted_pages = site.pages | sort:"order" %}
                    {% for sitePage in sorted_pages %}
                    {% unless sitePage.url == "/index.html" or sitePage.url == "/" %} 
                    <li>
                        {% if sitePage.section-type != null %}
                            {% if page.url == "/index.html" or page.url == "/" %}
                                <a class="page-scroll" href="#{{ sitePage.title }}">{{ sitePage.title }}</a>
                            {% else %}
                                <a href="/#{{ sitePage.title }}">{{ sitePage.title }}</a>
                            {% endif %}
                        {% else %}
                        <a href="{{ sitePage.url }}">{{ sitePage.title }}</a>
                        {% endif %}
                    </li>
                    {% endunless %}
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
